body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#chatContainer {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    margin-top: 50px;
}

#messages {
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.message {
    margin-bottom: 5px;
}

#aliasInput,
#messageInput {
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#setAliasButton,
#sendButton {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #fa4903;
    color: #fff;
    
    cursor: pointer;
}

#setAliasButton:hover,
#sendButton:hover {
    background-color: #0056b3;
}

#connectedUsers {
    font-size: x-large;
    margin-left: 10px;
    text-align: left;
    margin-top: 20px;
}

#userList {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 10px;
    border: #fa4903;
    font-size:large;

    border-radius: 8px;
    border-style:outset;
    border-color: #fa4903;
}

#userList div {
    margin-bottom: 5px;
}

#userList {
    margin-left: 40px;
    text-align: left;
    margin-top: 20px;
    border-radius: 8px;
    border: #fa4903;
}
