body {
    background-color: #e8eaf6;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    }
#chat-messages {
    width: 80%;
    height: 500px;
    margin-bottom: 20px;
    border-radius: 25px;
    padding: 20px;
    overflow-y: auto;
    background: #fff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    }
.message-bubble {
    background-color: #3498db;
    border-radius: 20px;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    max-width: 70%;
    position: relative;
    }
.message-bubble::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    border: 15px solid;
    border-color: #3498db transparent transparent transparent;
    }
.message-bubble-anon {
    background-color: #95a5a6;
    border-radius: 20px;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    max-width: 70%;
    position: relative;
    align-self: flex-start;
    }
.message-bubble-anon::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    right: 0;
    border: 15px solid;
    border-color: #95a5a6 transparent transparent transparent;
    }

#message-form {
    width: 80%;
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: auto;
    }
#message-input, #alias-input {
    flex-grow: 1;
    margin-right: 20px;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid #ddd;
    font-family: 'Source Code Pro', monospace;
    transition: all 0.5s ease;
    }
#message-input:focus, #alias-input:focus {
    outline: none;
    border-color: #3498db;
    }
#message-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    background: #3498db;
    color: white;
    font-weight: 700;
    cursor: pointer;
    transition: background 0.5s ease;
    }
#message-form button:hover {
    background: #2980b9;
}
@media screen and (max-width: 768px) {
    #chat-messages, #message-form {
        width: 95%;
    }
    #chat-messages {
        height: 70vh;
    }
    #message-input, #alias-input {
        font-size: 14px;
    }
}
