* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'red serifs', Tahoma, Geneva, Verdana, sans-serif;

}
#video-container {
    margin: auto;
    display:block;
    position: relative;
    text-align: center;
    max-height: 70vh;
    background-color: blue;
    max-width: 25vmax;
    align-content: center;
    margin-bottom: 2vh;
    margin-top: 2vh;
    align: fit-content;
    border-radius: 7px 26px;
}

#video-player {
    max-width: 80%;
    max-height: 50vh;
    margin-top: 2vh;
}

#play-btn, #replace-btn {
    font-family: 'red serifs', Tahoma, Geneva, Verdana, sans-serif;
    padding-inline: 3%;
    margin-top: 5vh;
    max-width: 10vw;
    max-height: 15vh;
    justify-content: center;
    position: relative;
    border-radius: 7px 26px;
    margin: auto;
    cursor: pointer;
    font-size: 1vmax;
       
}

    #play-btn:hover, #replace-btn:hover {
        color: rgb(3, 139, 87) !important;
        background-color: blueviolet;
    }
