body{

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#db2b2b+0,6c53fc+33,955eed+99&1+0,0+100 */
background: linear-gradient(135deg,  rgba(219,43,43,1) 0%,rgba(108,83,252,0.67) 33%,rgba(149,94,237,0.01) 99%,rgba(149,94,237,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
background-repeat:no-repeat;
background-attachment: fixed;
}


    